* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1F1C;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  color: #FFF;
}

textarea {
  background-color: #FFF1;
  color: #FFF;
  outline: none;
  resize: vertical;
}